header {
  padding: 156px 0 100px;
}

section {
  padding: 80px 0;
}

.navbar-custom{
  background-color: #7299C7;
  box-shadow: 0 4px 4px -1px rgba(0,0,0,.25);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text{
  color: black;
}

.img-cropper{
  display: inline-block;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
}

.img-profile {
  display: inline;
  width: 100%;
  height: auto;
}

/* Image btns */
.btn-extlink, .btn-extlink img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

 .btn-extlink{
  position: relative;
  border: transparent;
  background-color: transparent;
  margin-left: 8px;
  margin-right: 8px;
}

.btn-extlink img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-5%) translateX(-5%);
}

.bg-main-top{
  background-color: #437FC7;
}

.list-info{
  list-style: none;
  padding-left: 1em;
}

.list-info li{
  margin: 10px 0;
  font-size: 20px;
  padding-left: 1em;
}

.list-info li:before{
  content:'';
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url(icons/phone.svg);
  background-size: cover;
  background-position: center;
  left: 15px;
  transform: translateY(20%);
}

.list-info .list-info-loc:before{
  background-image: url(icons/map_pin.svg);
}

.list-info .list-info-phone:before{
  background-image: url(icons/phone.svg);
}

.list-info .list-info-mail:before{
  background-image: url(icons/mail.svg);
}

/* Education */
.list-edu{
  list-style: none;
}

.list-edu li{
  font-size: 14pt;
  margin: 16px 0;
  padding-left: 1em;
}

.list-edu li:before{
  content:'';
  width: 15px;
  height: 15px;
  position:absolute;
  background-image: url(icons/edu.png);
  background-size: cover;
  background-position: center;
  left: 2em;
  transform: translateY(20%);
}

.list-edu li a{
  color: black;
}

/* Experience */
.list-exp li{
  font-size: 14pt;
  margin: 16px 0;
}

.list-exp li a{
  color: black;
}

/* Publications */

.pub-link{
  color: #437FC7;
}

/* Projects */
.list-prj li{
  font-size: 14pt;
  margin: 16px 0;
}

.list-prj li a{
  color: #437FC7;
}

.prj-title{
  padding-top: 100px;
}

.prj-body{
  margin-bottom: 160px;
}

.prj-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: auto;
  height: auto;
  padding-top: 2em;
}

@media screen and (max-width: 992px) {
  .prj-img{
    max-width: 100%;
  }
}

.prj-img-cap{
  text-align: center;
}

/* Footer */

footer{
  padding-top: 48px;
  padding-bottom: 16px;
  background: #082333;
  box-shadow: 0 50vh 0 50vh #082333;
}

footer p{
  color: #90a4ae;
}

footer .btn-extlink, footer .btn-extlink img{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-bottom: 16px;
}
